<section class="container">
  <div class="itemPage">
    <div class="item1">
      <div class="productsImg">
       
        <%# @products.each do |produsts| %>
        <%# <img src=< "#products['image']" > alt=""> %>
        <%# end %>
        
        <a href="">image</a>
      </div>
    </div>
    <div class="item2">
      <div class="productsName">
        <h1 class="productsName-Name">
          <%# @products.each do |produsts|%>
          <span><%# products['productname'] %>name</span>
          <%# end %>
        </h1>
      </div>
      <div class="productsPrice  mt-5">
        <%# @products.each do |produsts|%>
        <span><%# products['price'] %>price</span>
        <%# end %>
      </div>
      <div class="cartin  mt-5">
        <button type="button" class="cartinButton">
          <span>カートに入れる</span>
        </button>
      </div>
    </div>


  </div>
</section>