<div class="main">

  <div class="container">
    <div class="title-copy">
      <h2>~日常に彩りを~</h2>
      <h2>~大切な人に日頃の感謝を伝えたい~</h2>
      <h2>~お祝いに~</h2>
    </div>
    <div class="poductList">
      <div class="productListGrid">
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/bouquetA.jpg" alt="ブーケA" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">ブーケA</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">3,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/bouquetB.jpg" alt="ブーケB" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">ブーケB</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">5,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/bouquetC.jpg" alt="ブーケC" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">ブーケC</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">7,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/arrengementA.jpg" alt="アレンジA" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">アレンジA</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">4,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/arrengementB.jpg" alt="アレンジB" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">アレンジB</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">6,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>
        <article class="product">
          <div class="image">
            <a href="/item"><img src="/img/drybouquetA.jpg" alt="ドライブーケA" height="400px" width="525px"></a>
          </div>
          <h4 class="productName">
            <a href="/item">
              <span class="productName_Name">ドライブーケA</span>
            </a>
          </h4>
          <div class="productPrice">
            <span class="price-price">¥</span>
            <span class="price-price">9,000</span>

            <span class="price-price-price">税込</span>

          </div>
        </article>


      </div>

    </div>
  </div>
</div>